@import "./src/assets/_resets.scss";
@import "./src/assets/cores";
@import "./src/assets/mixins";

.cabecalho {
  @include displayFlex(row, 0px, space-between);
  padding: 20px;
  span {
    font-size: 2em;
    color: black;
  }
  
  &__nav{
    display: flex;
    
    a{
      margin: 5px;
      font-size: 1.2em;
      border-radius: 5px;
      padding: 10px 15px;
      background-color: rgb(70, 70, 241);
      color: whitesmoke;
      text-decoration: none;
      text-transform: none;

    }
  }
}

main {
  @include displayFlex(row, 12px, center);



  .caixa-cadastro {
    @include displayFlex(column, 12px, center);
    border: solid 1px $cinza-escuro;
    background-color: $cinza-claro;
    width: 200px;
    padding: 15px;

    >* {
      border-radius: 3px;
      padding: 10px;

    }

    &__span {
      font-size: 2em;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    &__input {
      border: solid 1px $cinza-escuro;
    }

    &__btn {
      @include fontAndColor('Times New Roman', whitesmoke);
      border: 0px;
      background-color: $cinza-escuro;
      font-size: 1em;

    }

    &__resultado {
      @include fontAndColor('Times New Roman', whitesmoke);
      text-align: center;
      background-color: $sucesso;

    }


  }

}