@import "./src/assets/_resets.scss";
@import "./src/assets/cores";
@import "./src/assets/mixins";
@import "./layout.scss";

.caixa-principal{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    background-color: $cinza-claro;
    padding: 15px 30px 30px 30px;
    width: 80%;
    &__tabela{
        table{
            background-color: whitesmoke;
            width: 100%;
            border-collapse: collapse;
            td, th {
                padding: 10px;
                font-size: 20px;
            }
            th{
                border: solid black 1px;
            }
            thead{
                background-color: $cinza-escuro;
            }
            tbody{

            tr:nth-child(even){
                background-color: $cinza-medio;
            }
        }
            
        }
    }
    input{
        width: fit-content;
        padding: 10px;
        border-radius: 3px;
        border: solid 1px $cinza-escuro;
    }
    &__cabecalho{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        h2{
            margin: 0px;
        }
    }

}